bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/ChestOrMonster/DesignTimeBuild/.dtbcache.v2
/.vs/ChestOrMonster/FileContentIndex/65c489ae-36e4-4167-9dc1-fefcab15e1c3.vsidx
/.vs/ChestOrMonster/v17/.futdcache.v2
/.vs/ChestOrMonster/v17/.suo
/.vs/ChestOrMonster/v17/DocumentLayout.backup.json
/.vs/ProjectEvaluation/chestormonster.metadata.v9.bin
/.vs/ProjectEvaluation/chestormonster.projects.v9.bin
/.vs/ProjectEvaluation/chestormonster.strings.v9.bin
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ChestOrMonster/FileContentIndex/eddff234-353a-4713-9874-0ce63319cb9d.vsidx
